name: Publish Docs

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.10"
      - name: Cache multiple Pips
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pip
          key: ${{ runner.os }}-3.8-${{ hashFiles('**/poetry.lock') }}
      - run: |
          pip install poetry
          poetry install
          poetry run mkdocs gh-deploy --force
