name: Unit testing, formatting & linting

on:
  - push
env:
  POETRY_VERSION: "1.3"
  PYTHON_VERSION_FOR_BUMPING: "3.11"

jobs:
  testing-formatting-linting:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python-version:
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
    steps:
      - uses: actions/checkout@v3.0.2

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Cache virtual environment and pip
        uses: actions/cache@v3.2.3
        with:
          path: |
            ~/.cache/pip
            .venv
          key: ${{ runner.os }}-${{ matrix.python-version }}-${{ hashFiles('poetry.lock') }}

      - name: Install poetry and dependencies
        run: |
          pip install 'poetry~=${{ env.POETRY_VERSION }}'
          poetry config virtualenvs.in-project true
          poetry install --with dev --no-interaction --no-ansi --sync

      - uses: chartboost/ruff-action@v1

      - name: Run tests
        run: poetry run pytest tests/ -rP -vv
  bump-version:
    if: github.ref_name == 'main' && !startsWith(github.event.head_commit.message, 'bump:')
    needs:
      - testing-formatting-linting
    runs-on: ubuntu-20.04
    name: Bump version and create changelog with commitizen
    steps:
      - name: Check out
        uses: actions/checkout@v3.3.0
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Setup Python
        id: setup-python
        uses: actions/setup-python@v4.5.0
        with:
          python-version: ${{ env.PYTHON_VERSION_FOR_BUMPING }}
      - name: Cache virtual environment and pip
        uses: actions/cache@v3.2.3
        with:
          path: |
            ~/.cache/pip
            .venv
          key: ${{ runner.os }}-${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('poetry.lock') }}
      - name: Install dependencies
        run: |
          pip install 'poetry~=${{ env.POETRY_VERSION }}'
          poetry config virtualenvs.in-project true
          poetry install --with dev --no-interaction --no-ansi --sync
      - name: Create bump and changelog
        uses: commitizen-tools/commitizen-action@master
        with:
          github_token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ env.REVISION }}
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
